h1 {
    text-align: center;
  }
  form {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    font-size: 0.9em;
    opacity: 0.9;
    z-index: 1;
  }
  form label, form input, form button {
    display: block;
    margin: 5px 0;
    width: 100%;
  }
  .table {
    width: 67%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
  }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
  }
  .table th {
    background-color: #f2f2f2;
  }